
html {
  scroll-behavior: smooth;}

*{margin:0;}


html{background-color:#0b5394;}

header{padding:35px;
text-align:center;
font-family:'Courier New', Courier, monospace;
background-color:#0b5394;
color:#0c3357;
}

.topnav {
  overflow: hidden;
  background-color:#CCB69B;}


.topnav a {
  list-style-type:none;
  display: block;
  color: #f2f2f2;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;}

li{
  list-style-type:none;
  width: 10px; 
  height; 20px;
  margin:8px;
  display:inline;}

.topnav a:hover {
  background-color: #F7F3E3;
  color:#0c3357;
  font-family:'Courier New', Courier, monospace;
border-radius:20px;}

#flex-item1{
  width:60%;
}

#li1{
 display:inline;
 list-style-type:none;
  padding: 0 20px;
  text-decoration:none;}

ul{padding-left: 0;
padding:10px 0;
text-align: center;
background-color:#CCB69B;
font-size:25px;
color:white;
font-family:'Courier New', Courier, monospace;
border-radius:20px;
}

.flex-container1 >div {
  display:flex;
  justify-content:space-around
  flex-direction:column;

 
}
.flex-item2{
   border-radius:20px;
    margin:10px;
  padding: 20px;
  font-size:30px;
}


img{padding:0 15px}

p{padding: 25px;
color:white;
   font-family:'Courier New', Courier, monospace;
  background-color:#5eadf3;
  border-radius: 20px;
font-size:17px;}

h3{color:white;
   font-family:'Courier New', Courier, monospace;
  font-size:35px;
}


footer{text-align:center;
background-color:#F7F3E3;
  color:#0c3357;
  padding:15px;
  border-radius:20px;}
#footer{position: absolute;
bottom:0;
  height:1.5rem;}
#page-container{position:relative;
min-height:250vh;}